body {
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div #buttom {
    background-color: rgb(194, 187, 187);
    width: 100px !important;
    height: 25px;
    border-style: outset;
    border-color: rgb(211, 206, 206);
}
